.app-root {
  padding-top: 70px;
  padding-bottom: 60px;
}

.post-content img {
    width: 100%;
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.flisk-brand-top {
    width: 30px;
    height: 30px;
}

.flisk-brand-footer {
    width: 30px;
    height: 30px;
}
